@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
}
.font_family{
  font-family: 'Ubuntu', sans-serif;
}
.background{
  background-image:linear-gradient(rgba(70, 57, 57,0.5),rgba(70, 57, 57,0.5)),url(../src/assets/back.jpg) ;
  background-size:100% 100%;
  background-attachment: fixed;
}
.background_1{
  background-image: linear-gradient(rgba(70, 57, 57,0.5),rgba(70, 57, 57,0.5)),url(../src/assets/background_2.jpg);
  background-size: 100% ;
}
